<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Category</title>
</head>
<body>
    <h1>Update Category</h1>
    <form action="/pos/categories/udpate-category/<%= id %>" method="POST">
        <input type="text" name="category">
        <button type="submit">Update</button>
    </form>
</body>
</html>